@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*color secciones*/
    --color-primario: #F5F5F5;
    --color-secundario: #EAF2FD;
    /*color textos*/
    --color-textos: #464646;
}

html {
    font-family: "Raleway", sans-serif;
    color: var(--color-textos);
}

body {
    background-color: var(--color-primario);
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
}


/* Encabezado superior */

.header__container {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    padding:16px 4.267vw;
}

.header__items {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
}

.header__title {
    font-size: 1.6rem;
    font-weight: 700;
}

.header__menu-list {
    display: flex;
    gap: 32px;
}

.header__menu-item:nth-child(1),
.header__menu-item:nth-child(2),
.header__menu-item:nth-child(3),
.header__menu-item:nth-child(4),
.header__menu-item:nth-child(5){
    display: none;
}

.header__menu-item a{
    font-size: 1.6rem;
}


/* secccion sobre mi */

.seccion__sobremi {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.presentacion__container {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    padding:16px 4.267vw 0px;
}

.presentacion__img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.presentacion__descripcion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.presentacion__descripcion h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

.presentacion__descripcion p {
    font-size: 1.4rem;
}

/* social media */

.socialmedia__container {
    width: 100%;
}

.socialmedia__container ul {
    display: flex;
    justify-content: start;
    gap: 8px;
}

.socialmedia__container li {
    display: flex;
    align-items: center;
}

.socialmedia__container ul li a {
    font-size: 1.4rem;
    font-weight: 450;
    text-decoration-color: none;
}

.socialmedia__container ul li img {
    display: flex;
    flex-grow: 1;
    width: 16px;
}

/* introduccion  */

.introduccion__container {
    background-color: var(--color-secundario);
}

.introduccion__container-division {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding:16px 4.267vw;
}

.introduccion__container h2 {
    font-size: 22px;
    font-weight: bold;
}

.introduccion__container p {
    font-size: small;
}


@media (min-width: 768px) {

    .header__container {
        padding:16px 4vw;
    }

    /* seccion sobre mi */
    
    .presentacion__container {
        flex-flow: row;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        flex: 1;
    }


    .presentacion__img {
        width: 146px;
        height: 146px;
    }

    .presentacion__descripcion p {
        font-size: 1.6rem;
    }

    /* social media */

    .socialmedia__container ul {
        gap: 16px;
    }

    .socialmedia__container ul li a {
        font-size: 1.6rem;
    }

    .socialmedia__container ul li img {
        width: 24px;
        height: 24px;
    }

}


@media (min-width: 1100px) {

    .header__container {
        justify-content: space-around;
        padding:32px 12vw;
    }
    
    .header__menu-item:nth-child(1),
    .header__menu-item:nth-child(2),
    .header__menu-item:nth-child(3),
    .header__menu-item:nth-child(4),
    .header__menu-item:nth-child(5){
        display: block;
    }

    /* seccion sobre mi*/

    .presentacion__container {
        padding:32px 12vw;
    }

    .presentacion__img {
        width: 35%;
        height: auto;
    }

    .presentacion__descripcion {
        flex: 1;
    }

    .presentacion__descripcion h1 {
        font-size: 5.2rem;
    }

    .presentacion__descripcion p {
        font-size: 2.2rem;
    }

    /* social media */

    .socialmedia__container ul {
        justify-content: left;
        gap: 32px;
    }

    .socialmedia__container ul li img {
        width: 24px;
        height: 24px;
    }

    .socialmedia__container ul li a {
        font-size: 1.6rem;
        font-weight: medium;
    }
        
    /* Introduccion */

    .introduccion__container-division {
        padding:32px 12vw;
    }

    .introduccion__container-division h2 {
        font-size: 3.2rem;
    }

    .introduccion__container-division p {
        font-size: 1.6rem;
    }
}