@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*color secciones*/
    --color-primario: #F5F5F5;
    --color-secundario: #EAF2FD;
    --color-card: #ffffff;
    /*color textos*/
    --color-textos: #464646;
    --color-textos-placeholder: #A2A2A2;
    /*color botones*/
    --color-boton-hover: #2A7AE4;
    --color-boton-texto-hover: #ffffff;
    --color-boton-texto: #2A7AE4;
    
}

html,
input,
textarea,
button {
    font-family: "Raleway", sans-serif;
    color: var(--color-textos);
}

body {
    background-color: var(--color-primario);
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
}


/* Encabezado superior */

.header__container {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 16px 4.267vw;
    height: auto;
}


.header__items {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
}

.header__title {
    font-size: 1.6rem;
    font-weight: 700;
}

.header__menu-list {
    display: flex;
    gap: 32px;
}

.header__menu-item:nth-child(1),
.header__menu-item:nth-child(2),
.header__menu-item:nth-child(3),
.header__menu-item:nth-child(4),
.header__menu-item:nth-child(5){
    display: none;
}

.header__menu-item a{
    font-size: 1.6rem;
    color: inherit;
}

.header__menu-item a:active, 
.header__menu-item a:visited {
    color: inherit;
}


/* secccion sobre mi */

.seccion__sobremi {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.presentacion__container {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    padding:16px 4.267vw 0px;
}

.presentacion__img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.presentacion__descripcion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.presentacion__descripcion h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

.presentacion__descripcion p {
    font-size: 1.4rem;
}

/* social media */

.socialmedia__container {
    width: 100%;
}

.socialmedia__container ul {
    display: flex;
    justify-content: start;
    gap: 8px;
}

.socialmedia__container li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.socialmedia__container ul li a {
    font-size: 1.4rem;
    font-weight: 450;
    text-decoration-color: none;
    color: inherit;
}

.socialmedia__container ul li img {
    display: flex;
    flex-grow: 1;
    max-width: 16px;
    max-height: 16px;
}

.socialmedia__container ul li a:active,
.socialmedia__container ul li a:visited {
    color: inherit;
}

/* introduccion  */

.introduccion__container {
    background-color: var(--color-secundario);
}

.introduccion__container-division {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding:16px 4.267vw;
}

.introduccion__container h2 {
    font-size: 22px;
    font-weight: bold;
}

.introduccion__container p {
    font-size: small;
}


/* seccion skills */

.seccion__skills {
    display: flex;
    flex-direction: column;
    padding: 16px 0 0;
    text-align: center;
}

.skills__title {
    font-size: 2.2rem;
    font-weight: bold;
}

.skills__container {
    display: flex;
    flex-flow: row wrap;
    padding:32px 4.267vw 16px;
    gap: 16px;
}

.skill__item {
    background-color: var(--color-card);
    height: 118px;
    width: 156px;
    flex-grow: 1;
    padding: 16px;
    text-align: start;
    display: block;
    align-content: end;
}


.skill__title {
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 8px;
}

/* seccion hobbies */

.seccion__hobbies {
    display: flex;
    flex-direction: column;
    padding: 16px 0 0;
    text-align: center;
}

.hobbies__title {
    font-size: 2.2rem;
    font-weight: bold;
}

.hobbies__container {
    display: flex;
    flex-flow: row wrap;
    padding: 32px 4.267vw 16px;
    gap: 16px;
}

.hobbie__item {
    background-color: var(--color-card);
    height: 118px;
    width: 156px;
    flex-grow: 1;
    padding: 16px;
    text-align: start;
    display: block;
    align-content: end;
}

.hobbie__title {
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 8px;
}

/* seccion antecedentes academicos */

.seccion__antecedentes-academicos {
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    gap: 32px;
}

.antecedentes__academicos-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.antecedentes__academicos-container {
    display: flex;
    flex-flow: row wrap;
    gap: 16px; 
}

.antecedente__academico-item {
    display: flex;
    flex-direction: column;
    min-width: 224px;
    min-height: 169px;
    gap: 8px;
    width: 100%;
}

.antecedente__academico-img-container {
    background-color: var(--color-card);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 16px;
    width: 100%;
}

.antecedente__academico-img-container img {
    width: 45vw;
    max-width: 60%;
    max-height: 130px; 

}

.antecedente__academico-title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: start;
}

.antecedente__academico-descripcion {
    font-size: 1.4rem;
    font-weight: medium;
    text-align: start;
}

/* seccion experiencia profesional */

.seccion__experiencias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

.experiencias__title {
    font-size: 2.2rem;
    font-weight: bold;
}

.experiencias__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
}

.experiencia__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experiencia__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.experiencia__img-container img {
    flex-grow: 1;
}

.experiencia__title {
font-size: 1.6rem;
font-weight: bold;
padding-top: 8px;
}

.experiencia__descripcion {
    font-size: 1.4rem;
    font-weight: Medium;
}

.experiencia__botones {
    display: flex;
    gap: 16px;
    min-height: 40px;
    max-height: 51px;
}

.experiencia__boton-repositorio {
    color: var(--color-boton-texto);
    border: 1px solid var(--color-boton-texto);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 16px;
}

.experiencia__boton-verdemo {
    background-color: var(--color-boton-hover);
    color: var(--color-boton-texto-hover);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 16px;
}

/* seccion contacto */

.seccion__contacto {
    background-color: var(--color-secundario);
    display: flex;
    padding: 32px;
}

.contacto__container-img {
    display: none; /* Cambiar a 'block' si deseas mostrar la imagen */
}

.contacto__container-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.contacto__item-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.contacto__item-descripcion {
    font-size: 1.6rem;
    font-weight: medium;
}

.contacto__container-item-inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
    position: relative;
   
}

.input__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input__container:nth-child(4) {
    min-height: 133px;
    background-color: var(--color-card);
    border-radius: 4px;
}

/* Estilo del input y textarea */
.contacto__item-input,
.contacto__item-textarea {
    padding: 28px 12px 8px; /* Padding definido */
    border: none;
    border-radius: 4px;
    outline: none; /* Sin bordes al seleccionar los inputs */
    font-size: 16px; /* Tamaño del texto del input */
    font-weight: 400;
    line-height: 20px; /* Altura de línea para asegurar espacio */
}

/* Estilo del placeholder */
.contacto__item-input-placeholder,
.contacto__item-textarea-placeholder {
    position: absolute;
    font-size: 16px; /* Tamaño del texto del placeholder */
    font-weight: 400;
    min-height: 20px; /* Altura mínima para el placeholder */
    left: 12px;
    top: 20px;  /* Posición inicial */
    color: var(--color-textos-placeholder); /* Color del placeholder */
    transition: 0.2s ease all; /* Transición suave */
}

/* Línea inferior al enfocar */
.contacto__item-input:focus,
.contacto__item-textarea:focus {
    border-bottom: 4px solid var(--color-boton-hover);
}


/* Ajuste del placeholder al enfocar */
.contacto__item-input:focus + .contacto__item-input-placeholder,
.contacto__item-textarea:focus + .contacto__item-textarea-placeholder {
    top: -4px; /* Ajuste para mantener 4px de separación */
    color: var(--color-boton-texto); /* Cambia el color al enfocar */
}

.contacto__item-input {
    min-height: 56px; /* Altura mínima de 40px */
}

.contacto__item-textarea {
    margin-top: 28px; 
    height: calc(100% - 20px);
    overflow-y: hidden;
    padding-top: 0px;
}

.contacto__item-boton {
    background-color: var(--color-boton-texto);
    min-height: 40px;
    min-width: 133px;
    width: fit-content;
    border: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-boton-texto-hover);
    padding: 12px 16px;
}

/* seccion rodapie */

.rodapie__container {
    background-color: var(--color-card);
    display: flex;
    min-height: 102px;
    justify-content: center; 
    position: absolute;
    left: 0;
    right: 0;
}

.rodapie__title {
    font-weight: 400;
    font-size: 1.6rem;
    align-self: center;   
    text-align: center;
}

@media (min-width: 768px) {

    .header__container {
        padding:16px 4vw;
    }

    /* seccion sobre mi */
    
    .seccion__sobremi {
        gap: 40px;
    }
    .presentacion__container {
        flex-flow: row;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding-top: 40px;
    }

    .presentacion__img {
        width: 146px;
        height: 146px;
        transform: scaleX(-1); /* inviento la orientacion de la imagen en su eje horizontal*/
    }

    .presentacion__descripcion p {
        font-size: 1.6rem;
    }

    /* social media */

    .socialmedia__container ul {
        gap: 16px;
    }

    .socialmedia__container ul li a {
        font-size: 1.6rem;
    }

    .socialmedia__container ul li img {
        width: 24px;
        height: 24px;
    }

    /* introduccion */

    .introduccion__container-division {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    /* seccion skills */

    .seccion__skills {
        padding-top: 32px;
    }

    .skills__container {
        padding-bottom: 32px;
    }

    .skill__item {
        flex: 1 1 calc(33.33% - 16px);
    }

    /* seccion hobbies */

    .hobbies__container {
        padding-bottom: 32px;
    }

    .hobbie__item {
        flex: 1 1 calc(33.33% - 16px);
    }

    /* seccion antecedentes academicos */

    .seccion__antecedentes-academicos {
        padding: 32px 4vw;
    }

    .antecedente__academico-item {
        margin: 0;
        white-space: nowrap;
        flex: 1;
    }

  
}

@media (min-width: 1100px) {

    .header__container {
        background-color: var(--color-card);
        justify-content: space-around;
        padding: 10px 12vw;
        position: fixed;
        z-index: 99999;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        top: 0;
        left: 0;
        right: 0;
    }

    .header__logo {
        filter: sepia(1) saturate(10) hue-rotate(200deg);
    }

    .header__title {
        font-size: 1.8rem;
        color: var(--color-boton-hover);
    }

    .header__menu-list {
        height: 39px;
    }
    
    .header__menu-item:nth-child(1),
    .header__menu-item:nth-child(2),
    .header__menu-item:nth-child(3),
    .header__menu-item:nth-child(4),
    .header__menu-item:nth-child(5),
    .header__menu-item:nth-child(6){
        display: inline-block;
        align-self: center;
        box-sizing: border-box;
        position: relative;
    }

    /* animacion del menu con pseudo-elemento */

    .header__menu-item a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--color-textos);
        transition: width 0.3s ease;
        
    }

    .header__menu-item a:hover::after {
        width: 100%;
    }


    /* seccion sobre mi*/

    .seccion__sobremi {
        gap: 0px;
    }

    .presentacion__container {
        padding: 108px 12vw 60px;
    }

    .presentacion__img {
        width: 35%;
        height: auto;
    }

    .presentacion__descripcion {
        flex: 1;
    }

    .presentacion__descripcion h1 {
        font-size: 5.2rem;
    }

    .presentacion__descripcion p {
        font-size: 2.2rem;
    }

    /* social media */

    .socialmedia__container ul {
        justify-content: left;
        gap: 32px;

    }

    .socialmedia__container ul li img {
        width: 24px;
        height: 24px;
    }

    .socialmedia__container ul li a {
        font-size: 1.6rem;
        font-weight: medium;
    }
        
    /* Introduccion */

    .introduccion__container-division {
        padding:60px 12vw;
    }

    .introduccion__container-division h2 {
        font-size: 3.2rem;
    }

    .introduccion__container-division p {
        font-size: 1.6rem;
    }

    /* seccion skills */

    .seccion__skills {
        padding-top: 88px;
    }

    .skills__title {
        font-size: 3.2rem;
    }

    .skills__container {
        padding: 32px 12vw 0px;
    }

    .skill__item {
        flex: 1;
    }

    /* seccion hobbies */

    .seccion__hobbies {
        padding-top: 88px;
    }

    .hobbies__title {
        font-size: 3.2rem;
    }

    .hobbies__container {
        padding: 32px 12vw 62px;
    }

    .hobbie__item {
        flex: 1;
        white-space: nowrap;
    }

    /* seccion antecedentes academicos */

    .seccion__antecedentes-academicos {
        padding: 88px 12vw;
    }

    .antecedentes__academicos-title {
        font-size: 3.2rem;
    }

    .antecedente__academico-title {
        font-size: 2.2rem;
    }

    .antecendente__academico-descripcion {
        font-size: 1.6rem;
    }

    /* seccion experiencia profesional */

    .seccion__experiencias {
        padding: 88px 12vw 62px;
        
    }

    .experiencias__title {
        font-size: 3.2rem;
    }

   .experiencia__item {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
        max-width: calc(100% - 8px);
   }


   .experiencia__item .experiencia__img-container {
        grid-row: 1/10;
   }

   .experiencia__item h3 {
        font-size: 2.2rem;
        font-weight: bold;
        grid-row: 4;
   }

   .experiencia__item p{
        font-size: 1.6rem;
        font-weight: medium;
        grid-row: 5;
   }

   .experiencia__botones {
        grid-row: 6;
   }

   .experiencia__boton-repositorio,
   .experiencia__boton-verdemo {
        font-size: 1.6rem;
        font-weight: 300;
        padding: 16px;
   }

   .invertida:nth-child(1) {
        grid-template-columns: 30% 70%;
        grid-column: 2;
   }

   /* seccion contacto */

   .seccion__contacto {
        padding: 88px 12vw 62px;
        gap: 4.267vw;
   }

   .contacto__container-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
   }

   .contacto__container-img img {
        border-radius: 100%;
        width: 100%;
        height: auto;
   }

   .contacto__container-items {
        max-width: 55%;
   }

   .contacto__item-title {
        font-size: 3.2rem;
   }

   .contacto__item-descripcion {
        text-align: center;
   }

   .contacto__item-boton {
        min-height: 51px;
        font-size: 1.6rem;
   }

}

